/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

html{
  height: 100vh;
}

body, .pages{
  background: #f1f1f1;
  margin: auto;

  font-family: "Poppins";
}

header {
  background: #fff;
}

.header-right h2{
  text-align: right;
  
}

h2 {
  font-size: 1.4em;
  margin: auto;
}

img {
  margin: 10px;
  display: block;
  width: 225px;
}

header .header {
  max-width: 800px;
  margin: auto;
  padding: 0px 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

p{
  font-size: 1em;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #333;
}

.pages{
  max-width: 800px;
  padding: 0px 20px;
}

/* Home "My Tickets" */
.home {
  display: grid;
  gap: 100px;
}

/* Ticket Details */
.ticket-details {
  background: #fff;
  border-radius: 4px;
  margin: 15px 0;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.ticket-details h4 {
  margin: auto;
  font-size: 1.2em;
  color: var(--primary);
}

.ticket-details p {
  margin: auto;
  color: #555;
}

.ticket-details span { /*DELETE BUTTON*/
  cursor: pointer;
  background: var(--error);
  padding: 6px;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
}

.trash-can {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* Ticket Form "Create Ticket"*/
label, input, textarea {
  display: block;
}

textarea {
  height: 20vh
}

input, textarea {
  -webkit-appearance: none;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  margin: 10px 0 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error, textarea.error {
  border: 1px solid var(--error);
}

label{
  margin-top: 10px;
}
label span{
  color: var(--error);
}

/* Slider CSS */
.sliders{
  margin-top: 10px;
  display: flex;
}

.halve{
  margin: 10px 0 10px;
  width: 100%;
}

.slide-container input, ul{
  padding: 0;
}

.label-container{
  text-align: center;
}

ul{
  list-style-type: none;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

li{
  width: 100px;
  text-align: center;
}

.slide-container input{
  margin: auto;
  width: 85%;
}

form.signup, form.login{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;

}

/* Mobile/Small CSS */
@media only screen and (max-width: 750px) {
  img{
    width: 30vw;
  }

  .sliders{
    flex-direction: column;
  }

  .ticket-details{
    margin-top: 2vw;
  }

  h2{
    font-size: 3vw;
  }

  form button {
    width: 100%;
    font-size: 3vw;
  }
}